@media (max-width: 1199.98px)
{
	.header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-name{
		display: inline-block !important;
	}

	.avatar-online, #on-avatar{
		display: none;
	}

	.header-navbar .navbar-container ul.nav li a.dropdown-user-link{
		padding-top: 20px !important;
	}
}

.header-navbar .navbar-header .navbar-brand{
	padding: 5px;
}

@media (min-width: 992px) {
	body.vertical-compact-menu .main-menu, body.vertical-compact-menu .vertical-overlay-menu.menu-hide .main-menu, .vertical-overlay-menu.menu-hide body.vertical-compact-menu .main-menu {
	width: 182px !important; 
	} 
}

@media (min-width: 1199.98px) {
	.content-wrapper {
		padding-left: 3.5rem !important;
	}
}